.MuiInputBase-root,
.MuiButtonBase-root,
.MuiInputLabel-root {
  color: white !important;
}
.MuiPaper-root {
  color: white !important;
  border-width: 0.1px;
  border-color: rgb(46, 46, 46);
}
.MuiDataGrid-footerCell.MuiBox-root.css-k6w1hd-MuiDataGrid-footerCell {
  color: white !important;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
/* hide-scrollbars.css */

/*!* Hide scrollbar for Chrome, Safari and Opera *!*/
/*::-webkit-scrollbar {*/
/*  display: none;*/
/*}*/

/*!* Hide scrollbar for Firefox *!*/
/** {*/
/*  scrollbar-width: none;*/
/*}*/

/*!* Hide scrollbar for IE and Edge *!*/
/** {*/
/*  -ms-overflow-style: none;*/
/*}*/
